html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#timeline-container {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 640px;
  height: 400px;
}

.video-container {
  position: absolute;
  width: 640px; 
  height: 400px;
}

.video-container iframe {
  border: none;
  width: 640px;
  height: 400px;
}

.video-container-off {
  display: none;
  z-index: 1;
}

.video-container-on {
  display: block;
  z-index: 10;
}

.video-container-loading {
  visibility: hidden;
  display: block;
  z-index: 1;
}

.transition-container {
  width: 640px; 
  height: 400px;
  position: absolute;
}

.transition-container-off {
  display: none;
  z-index: 1;
}

.transition-container-on {
  display: block;
  z-index: 10;
}

.transition-container-loading {
  display: block;
  visibility: hidden;
  z-index: 1;
}
